@font-face {
	font-family: "Stapel";
	font-display: swap;
	src: url("../fonts/Stapel-Medium.woff2") format("woff2"), url("../fonts/Stapel-Medium.woff") format("woff"), url("../fonts/Stapel-Medium.ttf") format("ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Stapel_Regular";
	font-display: swap;
	src: url("../fonts/Stapel_Regular.woff2") format("woff2"), url("../fonts/Stapel_Regular.woff") format("woff"), url("../fonts/Stapel_Regular.ttf") format("ttf");
	font-weight: 400;
}
