<div class="block_info center_block">
    <a href="/" class="block_info__back">Все стажировки</a>
    <div class="block_info__blocks">
        <div class="block_info__l-side" v-if="sizes.window >= 1023">
            <h1 class="block_info__info--name">Stworka</h1>
            <div class="block_info__info--city">Санкт-Петербург</div>
            <a href="stworka.com" target="_blank" rel="noopener noreferrer" class="block_info__info--site">stworka.com</a>
            <div class="block_info__about">
                <span>Стажировки компании</span>
                <a href="#">4 стажировки</a>
            </div>
            <div class="block_info__about">
                <span>Сферы деятельности</span>
                Информационные технологии, системная интеграция, интернет
            </div>
        </div>
        <div class="block_info__r-side">
            <div class="block_info__abt">
                <div class="block_info__abt--title">Стажер в отдел рекламы и коммуникаций</div>
                <div class="block_info__abt--text">от 58 000 до 70 000 ₽ до вычета налогов</div>
                <button data-modal-id="2" class="block_info__abt--btn" v-if="sizes.window >= 1023">Откликнуться</button>
            </div>
            <div class="block_info__text">
                <p>Leoo Company - рекламная организация, предоставляющая услуги BTL-рекламы крупнейшим международным НКО в г. Сочи.</p>
                <p>За время нашей работы мы доказали, что BTL-реклама - это один из самых эффективных инструментов продвижения, особенно в сегменте благотворительности и фандрайзинга.</p>
                <p>Мы - сплоченная и сильная команда профессионалов, ждем в свои ряды амбициозных и позитивных людей, которые хотят учиться, развиваться и построить карьеру в сфере рекламы, а также обрести новых друзей и прокачать свои навыки.</p>
                <p>Чем тебе предстоит заниматься на первом этапе: <br>
                Проходить поэтапное обучение со своим наставником; <br>
                — Проводить презентации о деятельности фондов-заказчиков; <br>
                — Работать с людьми, взаимодействовать с различной аудиторией в формате face-to-face в рамках мероприятий проекта; <br>
                — Вести отчетность об эффективности проделанной работы. <br>
                — В дальнейшем же тебя ждет погружение в обучение новых сотрудников, управление персоналом и множество других интересных задач в области ведения нашего бизнеса.</p>
            </div>
            <div class="block_info__l-side" v-if="sizes.window <= 1023">
                <h1 class="block_info__info--name">Stworka</h1>
                <div class="block_info__info--city">Санкт-Петербург</div>
                <a href="stworka.com" target="_blank" rel="noopener noreferrer" class="block_info__info--site">stworka.com</a>
                <div class="block_info__about">
                    <span>Стажировки компании</span>
                    <a href="#">4 стажировки</a>
                </div>
                <div class="block_info__about">
                    <span>Сферы деятельности</span>
                    Информационные технологии, системная интеграция, интернет
                </div>
            </div>
            <button data-modal-id="2" class="block_info__abt--btn" v-if="sizes.window <= 1023">Откликнуться</button>
        </div>
    </div>
</div>