.staj_block {
    display: flex;
    padding-top: vw(48);
    padding-bottom: vw(48);
    @media all and (max-width: 1023px) {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
    }
    &__back {
        text-decoration: none;
        display: inline-block;
        margin-bottom: 16px;
        padding-left: 28px;
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: var(--grey);
        position: relative;
        &:before {
            content: '';
            position: absolute;
            border: 1px solid var(--grey);
            border-radius: 6px;
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            margin-top: -10px;
            background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.18246 2.13003C8.45583 2.4034 8.45583 2.84661 8.18246 3.11998L5.30244 6L8.18246 8.88003C8.45583 9.1534 8.45583 9.59661 8.18246 9.86998C7.9091 10.1433 7.46588 10.1433 7.19251 9.86998L3.81751 6.49498C3.54415 6.22161 3.54415 5.7784 3.81751 5.50503L7.19251 2.13003C7.46588 1.85666 7.9091 1.85666 8.18246 2.13003Z' fill='%23596077' /%3E%3C/svg%3E") 50% no-repeat;
        }
    }
    &__lside {
        flex: 0 0 vw(278);
        margin-right: vw(34);
    }
    &__rside {
        width: 100%;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: vw(20);
        @media all and (max-width: 1023px) {
            margin-bottom: 16px;
        }
    }
    &__title {
        margin: 0;
        font-family: var(--third-family);
        font-weight: 400;
        font-size: vw(40);
        line-height: 120%;
        color: var(--black);
        margin-bottom: vw(4);
        @media all and (max-width: 1023px) {
            font-size: 32px;
            margin-bottom: 4px;
        }
    }
    &__search {
        font-weight: 400;
        font-size: vw(16);
        line-height: 150%;
        color: var(--grey);
        @media all and (max-width: 1023px) {
            font-size: 16px;
        }
    }
    &__views {
        display: flex;
        flex: 0 0vw(75);
        margin-left: vw(10);
        gap: vw(10);
        align-items: center;
    }
    &__view {
        border: 1px solid var(--grey);
        border-radius: vw(8);
        width: vw(32);
        height: vw(32);
        background-color: #fff;
        cursor: pointer;
        background-position: 50% 50%;
        background-size: vw(20);
        background-repeat: no-repeat;
        &--vitrin {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.43661 2.43664C2.67443 2.19882 2.99698 2.06522 3.3333 2.06522H7.49997C7.83629 2.06522 8.15884 2.19882 8.39666 2.43664C8.63448 2.67446 8.76808 2.99701 8.76808 3.33333V7.5C8.76808 7.83632 8.63448 8.15887 8.39666 8.39669C8.15884 8.63451 7.83629 8.76811 7.49997 8.76811H3.3333C2.99698 8.76811 2.67443 8.63451 2.43661 8.39669C2.19879 8.15887 2.06519 7.83632 2.06519 7.5V3.33333C2.06519 2.99701 2.19879 2.67446 2.43661 2.43664ZM3.3333 2.93478C3.2276 2.93478 3.12623 2.97677 3.05148 3.05151C2.97674 3.12626 2.93475 3.22763 2.93475 3.33333V7.5C2.93475 7.6057 2.97674 7.70707 3.05148 7.78182C3.12623 7.85656 3.2276 7.89855 3.3333 7.89855H7.49997C7.60567 7.89855 7.70704 7.85656 7.78179 7.78182C7.85653 7.70707 7.89852 7.6057 7.89852 7.5V3.33333C7.89852 3.22763 7.85653 3.12626 7.78179 3.05151C7.70704 2.97677 7.60567 2.93478 7.49997 2.93478H3.3333ZM11.6033 2.43664C11.8411 2.19882 12.1636 2.06522 12.5 2.06522H16.6666C17.003 2.06522 17.3255 2.19882 17.5633 2.43664C17.8011 2.67446 17.9348 2.99701 17.9348 3.33333V7.5C17.9348 7.83632 17.8011 8.15887 17.5633 8.39669C17.3255 8.63451 17.003 8.76811 16.6666 8.76811H12.5C12.1636 8.76811 11.8411 8.63451 11.6033 8.39669C11.3655 8.15887 11.2319 7.83632 11.2319 7.5V3.33333C11.2319 2.99701 11.3655 2.67446 11.6033 2.43664ZM12.5 2.93478C12.3943 2.93478 12.2929 2.97677 12.2182 3.05151C12.1434 3.12626 12.1014 3.22763 12.1014 3.33333V7.5C12.1014 7.6057 12.1434 7.70707 12.2182 7.78182C12.2929 7.85656 12.3943 7.89855 12.5 7.89855H16.6666C16.7723 7.89855 16.8737 7.85656 16.9485 7.78182C17.0232 7.70707 17.0652 7.6057 17.0652 7.5V3.33333C17.0652 3.22763 17.0232 3.12626 16.9485 3.05151C16.8737 2.97677 16.7723 2.93478 16.6666 2.93478H12.5ZM2.43661 11.6033C2.67443 11.3655 2.99698 11.2319 3.3333 11.2319H7.49997C7.83629 11.2319 8.15884 11.3655 8.39666 11.6033C8.63448 11.8411 8.76808 12.1637 8.76808 12.5V16.6667C8.76808 17.003 8.63448 17.3255 8.39666 17.5634C8.15884 17.8012 7.83629 17.9348 7.49997 17.9348H3.3333C2.99698 17.9348 2.67443 17.8012 2.43661 17.5634C2.19879 17.3255 2.06519 17.003 2.06519 16.6667V12.5C2.06519 12.1637 2.19879 11.8411 2.43661 11.6033ZM3.3333 12.1014C3.2276 12.1014 3.12623 12.1434 3.05148 12.2182C2.97674 12.2929 2.93475 12.3943 2.93475 12.5V16.6667C2.93475 16.7724 2.97674 16.8737 3.05148 16.9485C3.12623 17.0232 3.2276 17.0652 3.3333 17.0652H7.49997C7.60567 17.0652 7.70704 17.0232 7.78179 16.9485C7.85653 16.8737 7.89852 16.7724 7.89852 16.6667V12.5C7.89852 12.3943 7.85653 12.2929 7.78179 12.2182C7.70704 12.1434 7.60567 12.1014 7.49997 12.1014H3.3333ZM11.6033 11.6033C11.8411 11.3655 12.1636 11.2319 12.5 11.2319H16.6666C17.003 11.2319 17.3255 11.3655 17.5633 11.6033C17.8011 11.8411 17.9348 12.1637 17.9348 12.5V16.6667C17.9348 17.003 17.8011 17.3255 17.5633 17.5634C17.3255 17.8012 17.003 17.9348 16.6666 17.9348H12.5C12.1636 17.9348 11.8411 17.8012 11.6033 17.5634C11.3655 17.3255 11.2319 17.003 11.2319 16.6667V12.5C11.2319 12.1637 11.3655 11.8411 11.6033 11.6033ZM12.5 12.1014C12.3943 12.1014 12.2929 12.1434 12.2182 12.2182C12.1434 12.2929 12.1014 12.3943 12.1014 12.5V16.6667C12.1014 16.7724 12.1434 16.8737 12.2182 16.9485C12.2929 17.0232 12.3943 17.0652 12.5 17.0652H16.6666C16.7723 17.0652 16.8737 17.0232 16.9485 16.9485C17.0232 16.8737 17.0652 16.7724 17.0652 16.6667V12.5C17.0652 12.3943 17.0232 12.2929 16.9485 12.2182C16.8737 12.1434 16.7723 12.1014 16.6666 12.1014H12.5Z' fill='%23596077' /%3E%3C/svg%3E");
            &:hover, &.isActive {
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.43661 2.43664C2.67443 2.19882 2.99698 2.06522 3.3333 2.06522H7.49997C7.83629 2.06522 8.15884 2.19882 8.39666 2.43664C8.63448 2.67446 8.76808 2.99701 8.76808 3.33333V7.5C8.76808 7.83632 8.63448 8.15887 8.39666 8.39669C8.15884 8.63451 7.83629 8.76811 7.49997 8.76811H3.3333C2.99698 8.76811 2.67443 8.63451 2.43661 8.39669C2.19879 8.15887 2.06519 7.83632 2.06519 7.5V3.33333C2.06519 2.99701 2.19879 2.67446 2.43661 2.43664ZM3.3333 2.93478C3.2276 2.93478 3.12623 2.97677 3.05148 3.05151C2.97674 3.12626 2.93475 3.22763 2.93475 3.33333V7.5C2.93475 7.6057 2.97674 7.70707 3.05148 7.78182C3.12623 7.85656 3.2276 7.89855 3.3333 7.89855H7.49997C7.60567 7.89855 7.70704 7.85656 7.78179 7.78182C7.85653 7.70707 7.89852 7.6057 7.89852 7.5V3.33333C7.89852 3.22763 7.85653 3.12626 7.78179 3.05151C7.70704 2.97677 7.60567 2.93478 7.49997 2.93478H3.3333ZM11.6033 2.43664C11.8411 2.19882 12.1636 2.06522 12.5 2.06522H16.6666C17.003 2.06522 17.3255 2.19882 17.5633 2.43664C17.8011 2.67446 17.9348 2.99701 17.9348 3.33333V7.5C17.9348 7.83632 17.8011 8.15887 17.5633 8.39669C17.3255 8.63451 17.003 8.76811 16.6666 8.76811H12.5C12.1636 8.76811 11.8411 8.63451 11.6033 8.39669C11.3655 8.15887 11.2319 7.83632 11.2319 7.5V3.33333C11.2319 2.99701 11.3655 2.67446 11.6033 2.43664ZM12.5 2.93478C12.3943 2.93478 12.2929 2.97677 12.2182 3.05151C12.1434 3.12626 12.1014 3.22763 12.1014 3.33333V7.5C12.1014 7.6057 12.1434 7.70707 12.2182 7.78182C12.2929 7.85656 12.3943 7.89855 12.5 7.89855H16.6666C16.7723 7.89855 16.8737 7.85656 16.9485 7.78182C17.0232 7.70707 17.0652 7.6057 17.0652 7.5V3.33333C17.0652 3.22763 17.0232 3.12626 16.9485 3.05151C16.8737 2.97677 16.7723 2.93478 16.6666 2.93478H12.5ZM2.43661 11.6033C2.67443 11.3655 2.99698 11.2319 3.3333 11.2319H7.49997C7.83629 11.2319 8.15884 11.3655 8.39666 11.6033C8.63448 11.8411 8.76808 12.1637 8.76808 12.5V16.6667C8.76808 17.003 8.63448 17.3255 8.39666 17.5634C8.15884 17.8012 7.83629 17.9348 7.49997 17.9348H3.3333C2.99698 17.9348 2.67443 17.8012 2.43661 17.5634C2.19879 17.3255 2.06519 17.003 2.06519 16.6667V12.5C2.06519 12.1637 2.19879 11.8411 2.43661 11.6033ZM3.3333 12.1014C3.2276 12.1014 3.12623 12.1434 3.05148 12.2182C2.97674 12.2929 2.93475 12.3943 2.93475 12.5V16.6667C2.93475 16.7724 2.97674 16.8737 3.05148 16.9485C3.12623 17.0232 3.2276 17.0652 3.3333 17.0652H7.49997C7.60567 17.0652 7.70704 17.0232 7.78179 16.9485C7.85653 16.8737 7.89852 16.7724 7.89852 16.6667V12.5C7.89852 12.3943 7.85653 12.2929 7.78179 12.2182C7.70704 12.1434 7.60567 12.1014 7.49997 12.1014H3.3333ZM11.6033 11.6033C11.8411 11.3655 12.1636 11.2319 12.5 11.2319H16.6666C17.003 11.2319 17.3255 11.3655 17.5633 11.6033C17.8011 11.8411 17.9348 12.1637 17.9348 12.5V16.6667C17.9348 17.003 17.8011 17.3255 17.5633 17.5634C17.3255 17.8012 17.003 17.9348 16.6666 17.9348H12.5C12.1636 17.9348 11.8411 17.8012 11.6033 17.5634C11.3655 17.3255 11.2319 17.003 11.2319 16.6667V12.5C11.2319 12.1637 11.3655 11.8411 11.6033 11.6033ZM12.5 12.1014C12.3943 12.1014 12.2929 12.1434 12.2182 12.2182C12.1434 12.2929 12.1014 12.3943 12.1014 12.5V16.6667C12.1014 16.7724 12.1434 16.8737 12.2182 16.9485C12.2929 17.0232 12.3943 17.0652 12.5 17.0652H16.6666C16.7723 17.0652 16.8737 17.0232 16.9485 16.9485C17.0232 16.8737 17.0652 16.7724 17.0652 16.6667V12.5C17.0652 12.3943 17.0232 12.2929 16.9485 12.2182C16.8737 12.1434 16.7723 12.1014 16.6666 12.1014H12.5Z' fill='white' /%3E%3C/svg%3E");
                background-color: var(--violet);
            }
        }
        &--list {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.8479 5C1.8479 4.63981 2.13989 4.34782 2.50007 4.34782H2.50841C2.86859 4.34782 3.16058 4.63981 3.16058 5C3.16058 5.36018 2.86859 5.65217 2.50841 5.65217H2.50007C2.13989 5.65217 1.8479 5.36018 1.8479 5ZM6.01457 5C6.01457 4.63981 6.30656 4.34782 6.66674 4.34782H17.5001C17.8603 4.34782 18.1522 4.63981 18.1522 5C18.1522 5.36018 17.8603 5.65217 17.5001 5.65217H6.66674C6.30656 5.65217 6.01457 5.36018 6.01457 5ZM1.8479 10C1.8479 9.63981 2.13989 9.34782 2.50007 9.34782H2.50841C2.86859 9.34782 3.16058 9.63981 3.16058 10C3.16058 10.3602 2.86859 10.6522 2.50841 10.6522H2.50007C2.13989 10.6522 1.8479 10.3602 1.8479 10ZM6.01457 10C6.01457 9.63981 6.30656 9.34782 6.66674 9.34782H17.5001C17.8603 9.34782 18.1522 9.63981 18.1522 10C18.1522 10.3602 17.8603 10.6522 17.5001 10.6522H6.66674C6.30656 10.6522 6.01457 10.3602 6.01457 10ZM1.8479 15C1.8479 14.6398 2.13989 14.3478 2.50007 14.3478H2.50841C2.86859 14.3478 3.16058 14.6398 3.16058 15C3.16058 15.3602 2.86859 15.6522 2.50841 15.6522H2.50007C2.13989 15.6522 1.8479 15.3602 1.8479 15ZM6.01457 15C6.01457 14.6398 6.30656 14.3478 6.66674 14.3478H17.5001C17.8603 14.3478 18.1522 14.6398 18.1522 15C18.1522 15.3602 17.8603 15.6522 17.5001 15.6522H6.66674C6.30656 15.6522 6.01457 15.3602 6.01457 15Z' fill='%23596077' /%3E%3C/svg%3E");
            &:hover, &.isActive {
                background-color: var(--violet);
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.8479 5C1.8479 4.63981 2.13989 4.34782 2.50007 4.34782H2.50841C2.86859 4.34782 3.16058 4.63981 3.16058 5C3.16058 5.36018 2.86859 5.65217 2.50841 5.65217H2.50007C2.13989 5.65217 1.8479 5.36018 1.8479 5ZM6.01457 5C6.01457 4.63981 6.30656 4.34782 6.66674 4.34782H17.5001C17.8603 4.34782 18.1522 4.63981 18.1522 5C18.1522 5.36018 17.8603 5.65217 17.5001 5.65217H6.66674C6.30656 5.65217 6.01457 5.36018 6.01457 5ZM1.8479 10C1.8479 9.63981 2.13989 9.34782 2.50007 9.34782H2.50841C2.86859 9.34782 3.16058 9.63981 3.16058 10C3.16058 10.3602 2.86859 10.6522 2.50841 10.6522H2.50007C2.13989 10.6522 1.8479 10.3602 1.8479 10ZM6.01457 10C6.01457 9.63981 6.30656 9.34782 6.66674 9.34782H17.5001C17.8603 9.34782 18.1522 9.63981 18.1522 10C18.1522 10.3602 17.8603 10.6522 17.5001 10.6522H6.66674C6.30656 10.6522 6.01457 10.3602 6.01457 10ZM1.8479 15C1.8479 14.6398 2.13989 14.3478 2.50007 14.3478H2.50841C2.86859 14.3478 3.16058 14.6398 3.16058 15C3.16058 15.3602 2.86859 15.6522 2.50841 15.6522H2.50007C2.13989 15.6522 1.8479 15.3602 1.8479 15ZM6.01457 15C6.01457 14.6398 6.30656 14.3478 6.66674 14.3478H17.5001C17.8603 14.3478 18.1522 14.6398 18.1522 15C18.1522 15.3602 17.8603 15.6522 17.5001 15.6522H6.66674C6.30656 15.6522 6.01457 15.3602 6.01457 15Z' fill='white' /%3E%3C/svg%3E");
            }
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-left: vw(-10);
        margin-right: vw(-10);
        @media all and (max-width: 1023px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__block {
        width: calc(50% - vw(20));
        margin-left: vw(10);
        margin-right: vw(10);
        margin-bottom: vw(20);
        box-shadow: 0 12px 24px 0 rgba(109, 109, 109, 0.04);
        background: var(--white);
        border-radius: vw(20);
        padding: vw(20);
        display: flex;
        align-items: center;
        @media all and (max-width: 1023px) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 20px;
            border-radius: 20px;
            padding: 16px;
        }
    }
    &__l-side {
        width: 100%;
    }
    &__tit {
        margin-bottom: vw(8);
        font-family: var(--third-family);
        font-weight: 300;
        font-size: vw(16);
        line-height: 125%;
        letter-spacing: 0.02em;
        color: var(--violet);
        @media all and (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
    &__price {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: vw(16);
        line-height: 125%;
        letter-spacing: 0.02em;
        color: var(--black);
        margin-bottom: vw(12);
        @media all and (max-width: 1023px) {
            font-size: 16px;
            margin-bottom: 12px;
        }
    }
    &__work {
        margin-bottom: vw(16);
        font-weight: 400;
        font-size: vw(16);
        line-height: 150%;
        color: var(--grey);
        @media all and (max-width: 1023px) {
            font-size: 14px;
            margin-bottom: 12px;
        }
    }
    &__btn {
        display: inline-block;
        border: 0;
        font-weight: 400;
        font-size: vw(16);
        line-height: 150%;
        color: var(--white);
        cursor: pointer;
        border-radius: vw(8);
        padding: vw(8) vw(16);
        background: var(--orange);
        text-decoration: none;
        @media all and (max-width: 1023px) {
            font-size: 16px;
            padding: 8px 16px;
            border-radius: 8px;
        }
        &:hover {
            background: var(--orange-hover);
        }
    }
    &__r-side {
        margin-left: vw(40);
        flex: 0 0 vw(80);
        width: vw(80);
        height: vw(80);
        font-size: 0;
        @media all and (max-width: 1023px) {
            width: 80px;
            height: 80px;
            flex: 0 0 80px;
            margin-left: 8px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__more {
        text-align: center;
        @media all and (max-width: 1023px) {
            margin-top: 4px;
        }
        a {
            text-decoration: none;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            font-weight: 400;
            font-size: vw(16);
            line-height: 150%;
            color: var(--white);
            background: var(--violet);
            border-radius: vw(8);
            padding: vw(12) vw(20);
            @media all and (max-width: 1023px) {
                font-size: 16px;
                border-radius: 8px;
                padding: 12px 20px;
            }
            &:hover {
                background: var(--violet-hover);
            }
        }
    }
    &__content {
        display: none;
        &.isActive {
            display: block;
        }
    }
    .staj_block__content--list {
        .staj_block__blocks {
            margin-left: 0;
            margin-right: 0;
        }
        .staj_block__block {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            flex-direction: row-reverse;
        }
        .staj_block__r-side {
            flex: 0 0 vw(80);
            margin-right: vw(40);
            margin-left: 0;
        }
        .staj_block__l-side {
            display: flex;
            align-items: center;
        }
        .staj_block__into {
            width: 100%;
        }
        .staj_block__btn {
            flex: 0 0 vw(140);
            margin-left: vw(40);
        }
    }
}