<div class="staj_block center_block">
    <a href="/" class="staj_block__back" v-if="sizes.window <= 1023">На главную</a>
    <div class="staj_block__lside" v-if="sizes.window >= 1023">
        
    </div>
    <div class="staj_block__rside">
        <div class="staj_block__top">
            <div class="staj_block__titles">
                <h1 class="staj_block__title">Стажировки</h1>
                <div class="staj_block__search">Найдено 1052 стажировки</div>
            </div>
            <div class="staj_block__views" v-if="sizes.window >= 1023">
                <div class="staj_block__view staj_block__view--vitrin isActive"></div>
                <div class="staj_block__view staj_block__view--list"></div>
            </div>
        </div>
        <div class="staj_block__content staj_block__content--vitrin isActive">
            <div class="staj_block__blocks">
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s1.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s2.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s3.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s4.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s5.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s6.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s3.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s1.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__tit">Начинающий специалист/стажер</div>
                        <div class="staj_block__price">15 000 - 30 000 ₽</div>
                        <div class="staj_block__work">X5 Retail Group</div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="staj_block__content staj_block__content--list" v-if="sizes.window >= 1023">
            <div class="staj_block__blocks">
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s1.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s2.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s3.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s4.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s5.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s6.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s3.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s1.png" alt="">
                    </div>
                </div>
                <div class="staj_block__block">
                    <div class="staj_block__l-side">
                        <div class="staj_block__into">
                            <div class="staj_block__tit">Начинающий специалист/стажер</div>
                            <div class="staj_block__price">15 000 - 30 000 ₽</div>
                            <div class="staj_block__work">X5 Retail Group</div>
                        </div>
                        <a href="#" class="staj_block__btn">Откликнуться</a>
                    </div>
                    <div class="staj_block__r-side">
                        <img src="./img/s5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>